.bonch {
    animation: bonch 1s ease-in-out infinite;
} 

@keyframes bonch {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
    
}

@font-face {font-family: "'BoutrosMBCDinkum Medium'";src: url('../fonts/light.ttf');}
@font-face {font-family: "'GE Dinkum Medium'";src: url("../fonts/bold.ttf");}
:root{
    --font-light:"'GE Dinkum Medium'";
    --font-bold:"'BoutrosMBCDinkum Medium'";
    background-color: var(--prim);
    /* background-color: #333 !important; */

}

a{
    text-decoration: none;
    color: var(--owl);
}

.rotate {
    animation: rotate 18s linear infinite;
    /* animation: up-down  3s  infinite ease-in-out; */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
        
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
    
}