@import url('../../styles/moon.css');

@font-face {font-family: "'BoutrosMBCDinkum Medium'";src: url('../fonts/light.ttf');}
@font-face {font-family: "'GE Dinkum Medium'";src: url("../fonts/bold.ttf");}
:root{
    --font-light:"'GE Dinkum Medium'";
    --font-bold:"'BoutrosMBCDinkum Medium'";
    background-color: var(--prim);
    /* background-color: #333 !important; */

}

a{
    text-decoration: none;
    color: var(--owl);
}