:root {--transparent:transparent;--current:currentColor;--none:none;--black:#000000;--white:#ffffff;--red:#dd3643;--cyan:#63cfc9;--nice:#83d6e1;--cute:#a3e4cb;--prim-50:rgba(var(--rgb-prim),0.05);--prim-100:rgba(var(--rgb-prim),0.1);--prim-200:rgba(var(--rgb-prim),0.2);--prim-500:rgba(var(--rgb-prim),0.5);--prim-700:rgba(var(--rgb-prim),0.7);--prim-900:rgba(var(--rgb-prim),0.9);--owl-10:rgba(var(--rgb-owl),0.01);--owl-200:rgba(var(--rgb-owl),0.2);--owl-700:rgba(var(--rgb-owl),0.7);--rgb-red:221, 54, 67;--red-50:rgba(var(--rgb-red),0.05);--red-100:rgba(var(--rgb-red),0.1);--red-200:rgba(var(--rgb-red),0.2);--red-500:rgba(var(--rgb-red),0.5);--red-700:rgba(var(--rgb-red),0.7);--red-900:rgba(var(--rgb-red),0.9);--rgb-cyan:99, 207, 201;--cyan-50:rgba(var(--rgb-cyan),0.05);--cyan-100:rgba(var(--rgb-cyan),0.1);--cyan-200:rgba(var(--rgb-cyan),0.2);--cyan-500:rgba(var(--rgb-cyan),0.5);--cyan-700:rgba(var(--rgb-cyan),0.7);--cyan-900:rgba(var(--rgb-cyan),0.9);--rgb-nice:131, 214, 225;--nice-50:rgba(var(--rgb-nice),0.05);--nice-100:rgba(var(--rgb-nice),0.1);--nice-200:rgba(var(--rgb-nice),0.2);--nice-500:rgba(var(--rgb-nice),0.5);--nice-700:rgba(var(--rgb-nice),0.7);--nice-900:rgba(var(--rgb-nice),0.9);--rgb-cute:163, 228, 203;--cute-50:rgba(var(--rgb-cute),0.05);--cute-100:rgba(var(--rgb-cute),0.1);--cute-200:rgba(var(--rgb-cute),0.2);--cute-500:rgba(var(--rgb-cute),0.5);--cute-700:rgba(var(--rgb-cute),0.7);--cute-900:rgba(var(--rgb-cute),0.9);--prince-50:rgba(var(--rgb-prince),0.05);--prince-100:rgba(var(--rgb-prince),0.1);--prince-200:rgba(var(--rgb-prince),0.2);--prince-500:rgba(var(--rgb-prince),0.5);--prince-700:rgba(var(--rgb-prince),0.7);--prince-900:rgba(var(--rgb-prince),0.9);--lord-50:rgba(var(--rgb-lord),0.05);--lord-100:rgba(var(--rgb-lord),0.1);--lord-200:rgba(var(--rgb-lord),0.2);--lord-500:rgba(var(--rgb-lord),0.5);--lord-700:rgba(var(--rgb-lord),0.7);--lord-900:rgba(var(--rgb-lord),0.9);--goat-50:rgba(var(--rgb-goat),0.05);--goat-100:rgba(var(--rgb-goat),0.1);--goat-200:rgba(var(--rgb-goat),0.2);--goat-500:rgba(var(--rgb-goat),0.5);--goat-700:rgba(var(--rgb-goat),0.7);--goat-900:rgba(var(--rgb-goat),0.9)}
.light {--prim:#FFFFFF;--prince:#f0f0f0;--lord:#909090;--owl:#1f1d2b;--goat:#c4c4c7;--rgb-prim:255, 255, 255;--rgb-owl:31, 29, 43;--rgb-prince:240, 240, 240;--rgb-lord:144, 144, 144;--rgb-goat:196, 196, 199}
.dark {--prim:#2d303e;--prince:#393c4a;--lord:#9099bc;--owl:#ffffff;--goat:#3c4f8d;--rgb-prim:45, 48, 62;--rgb-owl:255, 255, 255;--rgb-prince:57, 60, 74;--rgb-lord:144, 153, 188;--rgb-goat:60, 79, 141}
.darker {--prim:#0b132b;--prince:#1c2541;--lord:#3a506b;--owl:#5bc0be;--goat:#ffffff;--rgb-prim:11, 19, 43;--rgb-owl:91, 192, 190;--rgb-prince:28, 37, 65;--rgb-lord:58, 80, 107;--rgb-goat:255, 255, 255}
.bad {--prim:#949ba0;--prince:#9dacb2;--lord:#a0b9bf;--owl:#c4edff;--goat:#bcd4de;--rgb-prim:148, 155, 160;--rgb-owl:196, 237, 255;--rgb-prince:157, 172, 178;--rgb-lord:160, 185, 191;--rgb-goat:188, 212, 222}
.LOL {--prim:#211a1e;--prince:#c3423f;--lord:#9bc53d;--owl:#fde74c;--goat:#393c4a;--rgb-prim:33, 26, 30;--rgb-owl:253, 231, 76;--rgb-prince:195, 66, 63;--rgb-lord:155, 197, 61;--rgb-goat:57, 60, 74}
.bg-lord-900 {background-color:var(--lord-900);} .text-goat-200 {color:var(--goat-200);} .text-goat-500 {color:var(--goat-500);}
.bg-prim {background-color:var(--prim);} .fill-prim {fill:var(--prim);}
.bg-prince {background-color:var(--prince);} .fill-prince {fill:var(--prince);}
.bg-lord {background-color:var(--lord);} .fill-lord {fill:var(--lord);}
.text-owl {color:var(--owl);} .fill-owl {fill:var(--owl);} .fill-goat {fill:var(--goat);} .text-goat {color:var(--goat);}
.fixed{position:fixed;} .absolute{position:absolute;} .relative{position:relative;} 
.opacity-0{opacity:0;} .opacity-10{opacity:0.1;} .opacity-20{opacity:0.2;} .opacity-50{opacity:0.5;}
.overflow-auto{overflow:auto;}
.m-auto {margin:auto;}
.overflow-auto::-webkit-scrollbar {height:var(--scroller-size);width:var(--scroller-size)}
.overflow-auto::-webkit-scrollbar-thumb {border-radius:2px;background-color:var(--scroller-thumb);}
.overflow-auto::-webkit-scrollbar-track {background-color:var(--scroller-bg);border-radius:2px;}
.overflow-auto::-webkit-scrollbar-track {background-color:var(--scroller-bg);}
.row,.col,.row-center,.col-center{display:flex;}
.row,.row-center{flex-direction:row;}
.row-center{align-items:center;}
.col,.col-center{flex-direction:column;}
.col-center{justify-content:center;} 
.items-center {align-items:center;}
.justify-center {justify-content:center;}
.text-center{text-align:center;} 
.pointer{cursor:pointer;}.inset-0{inset:var(--spacing-0);}.top-0{top:var(--spacing-0);}.left-0{left:var(--spacing-0);}.right-0{right:var(--spacing-0);}.bottom-0{bottom:var(--spacing-0);}
.p-sm{padding:var(--spacing-sm);}.py-sm{padding-block:var(--spacing-sm);}
.p-md{padding:var(--spacing-md);}.px-md{padding-inline:var(--spacing-md);}
.p-lg{padding:var(--spacing-lg);}.py-lg{padding-block:var(--spacing-lg);}.gap-lg{gap:var(--spacing-lg);}
.p-xl{padding:var(--spacing-xl);}.px-xl{padding-inline:var(--spacing-xl);}.gap-xl{gap:var(--spacing-xl);}
.p-2x{padding:var(--spacing-2x);}.gap-2x{gap:var(--spacing-2x);}.h-0{height:var(--size-0);}.size-xs{height:var(--size-xs);width:var(--size-xs);}.size-md{height:var(--size-md);width:var(--size-md);}.size-2x{height:var(--size-2x);width:var(--size-2x);}.size-5x{height:var(--size-5x);width:var(--size-5x);}
.text-sm{font-size:var(--text-sm);}
.round-md{border-radius:var(--round-md);}
.round-lg{border-radius:var(--round-lg);}
.round-xl{border-radius:var(--round-xl);}
.round-full{border-radius:var(--round-full);}
.font-mono{font-family:var(--font-mono);}
.shadow-lg{box-shadow:var(--shadow-lg);}
.border-thin{border-width:var(--border-thin);}
.border-thick{border-width:var(--border-thick);}
.border-solid{border-style:var(--border-solid);}

:root{
--spacing-0:0;
--spacing-xs:2px;
--spacing-sm:4px;
--spacing-md:8px;
--spacing-lg:10px;
--spacing-xl:12px;
--spacing-2x:16px;
--spacing-3x:20px;
--spacing-4x:26px;
--spacing-5x:32px;
--spacing-6x:40px;
--size-0:0;
--size-xs:20px;
--size-sm:40px;
--size-md:80px;
--size-lg:100px;
--size-xl:120px;
--size-2x:160px;
--size-3x:200px;
--size-4x:260px;
--size-5x:320px;
--size-6x:400px;
--text-xs:0.75rem;
--text-sm:0.875rem;
--text-md:1rem;
--text-lg:1.125rem;
--text-xl:1.25rem;
--text-2x:1.5rem;
--text-3x:1.875rem;
--text-4x:2.25rem;
--text-5x:3rem;
--text-6x:4rem;
--round-none:0px;
--round-sm:4px;
--round-md:8px;
--round-lg:16px;
--round-xl:24px;
--round-2x:32px;
--round-full:999px;
--weight-normal:400;
--weight-bold:700;
--line-h-normal:1.5;
--line-h-dense:1.25;
--line-h-loose:2;
--font-sans:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
--font-serif:Georgia, Cambria, "Times New Roman", Times, serif;
--font-mono:Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--shadow-sm:0 0 2px rgba(0, 0, 0, 0.1);
--shadow-md:0 0 4px rgba(0, 0, 0, 0.1);
--shadow-lg:0 0 8px rgba(0, 0, 0, 0.2);
--shadow-xl:0 0 16px rgba(0, 0, 0, 0.2);
--shadow-2x:0 0 24px rgba(0, 0, 0, 0.2);
--shadow-focus:0px 0px rgba(32, 211, 238,0.1);
--shadow-error:0px 0px rgba(231, 53, 60,0.1);
--shadow-none:none;
--border-none:0px;
--border-thin:1px;
--border-thick:2px;
--border-none:none;
--border-solid:solid;
--border-dashed:dashed;
--border-dotted:dotted;
--z-0:0;
--z-10:1;
--z-20:2;
--z-30:3;
--z-40:4;
--z-50:5;
--z-60:6;
--z-70:7;
--z-80:8;
--z-90:9;
--z-100:10;
}
